<mat-toolbar>
    <div class="col-11 float-left">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
        <span>{{title}}</span>
        <span class="example-spacer"></span>
    </div>
    <div class="col-1 ">
        <a routerLink="profile" class="btn btn-primary me-2">Profile</a>
        <button mat-raised-button (click)="logout()" class="btn btn-success">Logout</button>
    </div>

</mat-toolbar>